.black_color{
        background-color: #699BF7;
         color: #ffffff; 
         font-size: 14px;
         padding-right: 0px;
         padding-left: 0px;
      }

.container_body{
	margin-top: 50px; 
	background-color: #ffffff;
}

.jumbotron{
	padding: 0px; 
	margin-bottom: 0px;
	height: 700px
}

.login{
	margin-bottom: 50px;
	width: 80%;
}

.color{
	color: #0C1F42;
}