#start_header{
        float: right;
        margin-right: 50px;
        margin-top: 70px;
      }



p.form-title
{
 
    text-align: center;
    color: #0C1F42;
    margin-top: 5%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form{
    margin: 0 auto;
}

.input_bg_color{
    background-color: #ffffff;
}

.form_group_margin{
    margin-top: 5%;
}