<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
        function deleteTask() {
            console.log("IT WORKS!");
            $.ajax({
                url: ""
                type: "DELETE"
            });
        }
    </script>
</head>
<body>
${task.getId()}
${task.getName()}
<#list answers>
<p>Answers:</p>
<ul>
    <#items as answer>
        <li><a href="/answers/evaluate/${answer.getId()}">${answer.getUser().getLogin()}</a></li>
    </#items>
</ul>
<#else>
<p>No answers for this task</p>
</#list>
<form><input type="submit" name="delete" value="Delete"></form>
<a href="/task/edit/${task.getId()}">Редактировать</a>
</body>